.container{
    
}
.introBack{
  height: 100vh;
  margin: 0 30px    ;

  }

  .introDesc  {
    background-color: rgba(190, 205, 214,0.5);  
    padding: 20px;
    border-radius: 30px;
    height: 50vh;
    
    transition: box-shadow 0.5s;
    box-shadow:
      10px 10px 30px rgba(18, 47, 61, 0.5),
      -10px -10px 30px rgba(248, 253, 255, 0.9),
      inset 10px 10px 30px transparent,
      inset -10px -10px 30px transparent;
  }
  .introBack :hover{
    box-shadow:
      10px 10px 30px transparent,
      -10px -10px 30px transparent,
      inset 10px 10px 30px rgba(18, 47, 61, 0.5),
      inset -10px -10px 30px rgba(248, 253, 255, 0.9);
  }