.overlay {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5); /* グレーの透明度を設定 */
  }
  
  .background-image {
    position: relative;
    z-index: 1; /* 他の要素よりも手前に表示するために必要なz-indexの値 */
  }
  
  /* .overlayの子要素のbackground-imageを設定 */
  .overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: inherit;
    z-index: -1; /* 親要素よりも奥に表示するために必要なz-indexの値 */
  }
  