.container {
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.21);
    margin: 10px 50px;
    backdrop-filter: blur(10px);
    border-radius: 1px solid rgba(255, 255, 255, 0.21);
}


.newsHeadline {
    text-align: center;
}

.newsList {}

.news {
    display: flex;
    flex-direction: row;
    margin: 20px 20px 5px 20px;
    border-bottom: 2px solid black;
    width: auto;
    position: relative;
    
}

.news:last-child {
    border: none;
    padding-bottom: 5px;
}

.newsAt {}

.newsTitle {
    margin-left: 10vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}