.wrapper {
  overflow: hidden;
  position: relative;
}
.headline {
  text-align: center;
  color: black;
  z-index: 10;
  margin: 0 20px;
}
.contactContainer {
  /* --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity)); */
  border-radius: 10px;
  margin: 0 auto 60px;
  padding: 30px 40px;
  width: 1000px;
  min-height: 100vh;
  overflow: hidden;
  background: transparent;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.2);
}
.getInTouch {
  margin: 0 0 20px 0;
}
.subcontainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.left {
  padding: 0;
  margin: 10px;
  flex: 1;
}
.right {
  padding: 0;
  margin: 10px;
  flex: 1;
}
.contactHero {
  padding-top: 30px;
}
.heroDetail {
  padding: 80px;
  padding-left: 110px;
}
.gmailContainer {
  margin: 0 0 20px 0;
}
.gmail {
  display: flex;
  align-items: center;
  gap: 8px;
}
.contactImg {
  object-fit: cover;
  border-radius: 30px;
  margin: auto;
}
.inputBox {
  display: flex;
  height: 50px;
}

.getInTouch h1 {
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 0.01em;
  padding-top: 40px;
  padding-left: 40px;
  color: #363637;
}
.getInTouch p {
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
  padding-left: 2.5rem /* 40px */;
}

.contactContainer .inputBox {
  width: 100%;

  margin: 30px 0;
  position: relative;
}
.contactContainer input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 40px;
  font-size: 16px;
  color: black;
  padding: 20px 45px 20px 20px;
}
.contactContainer textarea {
  width: 100%;
  height: 30vh;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 40px;
  font-size: 16px;
  color: black;
  padding: 20px 45px 20px 20px;
}

.inputBox input::placeholder {
}

.icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}
.btn {
  width: 100%;
  height: 50px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: #363637;
  font-weight: 600;
  font-size: 16px;
  margin-top: 30vh;
}
.newMemberContainer {
  background-color: rgba(255,255,255,0.5);
  border-radius: 20px;
  padding: 30px;
  margin: 10px;
}
.newMemberTitle{
  font-size: bold;
  font-size: 26px;
  line-height: 45px;
  color:black;
  text-align: center;
}
.newMemberDescription{
  margin-top: 20px;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  color:black;
}

@media screen and (min-width: 901px) and (max-width: 1100px) {
  .contactContainer {
    width: 800px;
  }
}
@media screen and (max-width: 900px) {
  .contactContainer {
    width: 90vw;
  }
  .subcontainer {
    flex-direction: column;
  }
  .contactHero {
    display: flex;
  }
  .heroDetail {
    width: 300px;
    padding: 40px;
    margin: auto;
  }
  .newMemberContainer{
    margin-top: 50px;

    
  }
  .newMemberTitle{
    font-size: 35px;
  }
  .newMemberDescription{
    font-size: 18px;
  }
}
@media screen and (max-width: 650px) {
  .contactHero {
    display: flex;
    flex-direction: column;
  }
  .heroDetail {
    width: 300px;
    padding: 0x;
    margin: auto;
  }
  .newMemberContainer{
    margin: 0;
  }
}
@media screen and (max-width: 600px) {
  .newMemberTitle{
    font-size: 30px;
  }

}
@media screen and (max-width: 540px) {
  .newMemberTitle{
    font-size: 25px;
  }
  .newMemberDescription{
    font-size: 15px;
  }
}
@media screen and (max-width: 490px) {
  .newMemberTitle{
    font-size: 20px;
  }
  .newMemberDescription{
    font-size: 12px;
    line-height: 20px;
    margin-top:8px;
  }
}
@media screen and (max-width: 460px) {
  .subcontainer {
    width: 100%;
  }
  .getInTouch h1 {
    font-size: 35px;
    text-align: center;
    padding: 10px 0;
  }
  .getInTouch p {
    text-align: center;
    margin: auto;
    padding-left: 0;
  }
  .contactContainer {
    padding: 5px;
  }
}
@media screen and (max-width: 360px) {
  .subcontainer {
    width: 100%;
  }
  .getInTouch h1 {
    font-size: 30px;
    text-align: center;
    padding: 10px 0;
  }
}
